body
{
	height: 100%;
}
.scrollWrapper
{
	overflow: auto;
	height: 100%;
}
li
{
	margin-bottom: 10px;
}
.tabs li {
	margin: 0;
}
/* .tab-bar .menu-icon:before
{
	content: "";
	position: absolute;
	display: block;
	height: 0;
	top: 50%;
	margin-top: -0.5rem;
	left: 0.90625rem;
	box-shadow: 0 0 0 2px #fff, 0 7px 0 2px #fff, 0 14px 0 2px #fff;
	width: 1rem;
} */
.tabs-content
{
	overflow: auto;
}
.panel.warn
{
	background: #FCF2F2;
	border-color: #F5BCBC;
}
.main-header
{
	background: rgb(242, 242, 242);
	border-bottom: 5px solid #DADADA;
	text-align: right;
	height: 52px;
	padding: 0;
}
	.main-header .logo
	{
	  font-weight: 700;
	  font-size: 24px;
	  float: left;
	  line-height: 46px;
	  color: #1EAEDB;
	}
	.main-header nav a
	{
		text-transform: uppercase;
		text-decoration: none;
		line-height: 42px;
		padding: 5px 15px 0;
		color: #1EAEDB;
		display: inline-block;
		letter-spacing: -.5px;
		border-radius: 0;
		border-bottom: 5px solid transparent;
		transition: all .5s ease;
	}
		.main-header nav .selected
		{
			background: rgb(67, 93, 118);
			border-bottom: 5px solid rgb(96, 116, 136);
			color: #fff;
		}
.h-desc
{
	display: block;
    font-size: 20px;
    color: #3D3D3E;
}
.container-console
{
	height: 310px;
    overflow: auto;
}
	.container-console .logmsg
	{
		color:#5EB5E0;
	}
		.container-console .logmsg:nth-child(even)
		{
			background:#F6F9FB;
		}

.off-canvas-wrapper,
.off-canvas-wrapper-inner {
	height: 100%;
}

header .tab-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

header .middle {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	color: #FFF;
	font-weight: 700;
	line-height: 2.8125rem;
	margin: 0;
	text-align: center;
}
header .middle h1 {
	margin: 0;
	font-size: 18px;
	line-height: 36px;
}

header .right-small,
header .left-small {
    width: 36px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 36px;
}

.off-canvas.position-right {
	height: 100%;
}
.tabs-panel {
	padding: 0;
}
.tabs-content {
	border: 0;
}
.container-source
{
	height: 310px;
	margin: 0 auto;
	background: #3d3d3e;
	-webkit-transform: translate3d(0,0,0);
	box-sizing: border-box;
	overflow: auto;
	font-size: 0;
	padding: 10px 0;
}
	.item
	{
		display: inline-block;
		text-align: center;
		overflow: hidden;
		position: relative;

		touch-action: none;
		-webkit-user-select: none;
		-webkit-user-drag: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
		width: 100px;
		height: 100px;
		margin: 10px;
		border-radius: 7px;

		background: #fff;
		color: #000;
		box-shadow: 0 0 0 2px #fff, 0 0 10px 2px #000;

  		-webkit-transform: translateZ(0);
  				transform: translateZ(0);

  		-webkit-backface-visibility: hidden;
	}
		.item img {
			height: 100%;
			width: 100%;
	  		-webkit-transform: translateZ(0);
	  				transform: translateZ(0);
	  		border-radius: 7px;
		}
button.radius,
.button.radius
{
	vertical-align: middle;
}
.anim,
.anim img 
{
	-webkit-transition: border-radius .5s ease-out;
			transition: border-radius .5s ease-out;
}
.tabs
{
	background-color: rgb(204, 204, 204);
	margin: 0;
}
	.tabs .tab-title
	{
		margin-right: 5px;
		padding: 0;
		border-radius: 0;
	}
	.tabs .tab-title a{
	  padding: 10px 20px;
	  display: inline-block;
	  border-bottom: 5px solid transparent;
	  color: #333333;
	  transition: all .5s ease;
	}
	
	.tabs .tab-title.active a{
	  background: rgb(67, 93, 118);
	  border-bottom: 5px solid rgb(96, 116, 136);
	  color: #fff;
	}
	.scroll-area
	{
		background-color: rgba(0,0,0,.2);
	}

table.params-table tbody td:first-child,
table.params-table tbody td:nth-child(2),
table.params-table tbody td:nth-child(3):not(:last-child),
table.method-table tbody td:first-child,
table.method-table tbody td:nth-child(2)
{
  font-size: 12px;
  color: #0FA0CE;
  font-family: monospace;
}	
table.params-table tbody td:nth-child(2),
table.method-table tbody td:nth-child(2)
{
  color: #006700;
}
table.params-table tbody td:nth-child(2),
table.params-table tbody td:nth-child(3)
{
	text-align: center;
}
h2
{
  color: rgb(70, 181, 216);
}
h3
{
  color: rgb(76, 194, 63);
	margin-top: 50px;
	margin-bottom: 20px;
}
h2,
h3
{
	font-weight: 100;
}
footer
{
	margin-top:  100px;
	position: relative;
	background: rgb(61, 61, 62);
	height: 60px;
}
footer span
{
	color: #CCC;
	line-height: 30px;
}

code {
	background: transparent;
}

.side-nav {
    display: block;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: .875rem 0;
}

.side-nav li.heading {
    color: #008CBA;
    font-size: .875rem;
    font-weight: 700;
}

.side-nav li {
    font-size: .875rem;
    font-weight: 400;
    margin: 0 0 .4375rem;
}

.side-nav li a:not(.button) {
    color: #008CBA;
    display: block;
    margin: 0;
    padding: .4375rem .875rem;
}
.menu>li>a.selected{
background: #5fbcd8;
    color: #fff;
}
.side-nav li a:not(.button):focus, .side-nav li a:not(.button):hover {
    background: rgba(0,0,0,.025);
    color: #1cc7ff;
}
pre[class*="language-"] {
	padding: 25px;
	margin: 0;
}
.absolutle--items
{
	overflow: hidden;
}
	.absolutle--items .item
	{
		position: absolute;
	}
		.absolutle--items .item-0
		{
			left: 20px;
			top: 20px;
		}
		.absolutle--items .item-1
		{
			left: 140px;
			top: 20px;
		}
		.absolutle--items .item-2
		{
			left: 260px;
			top: 20px;
		}
		.absolutle--items .item-3
		{
			left: 380px;
			top: 20px;
		}
		.absolutle--items .item-4
		{
			left: 500px;
			top: 20px;
		}	