.container-source
{
  height: 310px;
  margin: 0 auto;
  background: #3d3d3e;
  -webkit-transform: translate3d(0,0,0);
  overflow: auto;
  font-size: 0;
  padding: 10px 0;
}
.item
{
  display: inline-block;
  text-align: center;
  overflow: hidden;
  position: relative;
  touch-action: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 7px;
  background: #fff;
  color: #000;
  box-shadow: 0 0 0 2px #fff, 0 0 10px 2px #000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.item img
{
  height: 100%;
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  border-radius: 7px;
}  